<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.lucasasselli.zeropro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor">

    </application>

</manifest>
